ul.list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    border-radius: $base-border-radius;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: $color-grey-25;
    }
  }
}